
/* Pc */
@media(min-width:900px){
    
    .liquid_scroll_position-glow{
        
        
        
        min-height: 100vh;
        width: 20px;
        
        position: fixed;
        right: 0;
        top: 80px;
        
        z-index: 99;
    }
    .liquid_scroll_position-glow,liquid_scroll_button{
        background: linear-gradient(269deg, #11c093, #35d2ff);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 12s ease infinite;
        -moz-animation: AnimationName 12s ease infinite;
        -o-animation: AnimationName 12s ease infinite;
        animation: AnimationName 12s ease infinite;
    }
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }    
    .liquid_scroll_position-glow {
      background: linear-gradient(307deg,#3a9182,#ea0749,#4af5e4,#90bef1);
      background-size: 240% 240%;
      animation: gradient-animation 32s ease infinite;
    }
        @keyframes gradient-animation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
    .liquid_scroll_button{
        
        background: linear-gradient(307deg,#3a9182,#ea0749,#4af5e4,#90bef1);        
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        
        height: 50px;
        width: 50px;
        
        position: absolute;
        left: -35px;
        top: 50%;
        
    }
}
