*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .icon,ion-icon{
    
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */




