SpeechRecognition
beautifulsoup4
psutil
PyAutoGUI
pyjokes
PyQt5
PyQt5-Qt5
pyqt5-plugins
PyQt5-sip
pyqt5-tools
pyttsx3
pywhatkit
requests
urllib3
wikipedia
DateTime
opencv-python
cv2-tools
secure-smtplib
random2
instaloader
PyPDF2
bs4
pywikihow
speedtest-cli
pytube
subprocess32
qt5-applications
qt5-tools
Pillow
PyWave
phonenumbers
folium
opencage
ffmpeg-normalize
PyAudio

