beautifulsoup4
bidict
certifi
charset-normalizer
click
colorama
comtypes
decorator
future
geocoder
idna
loc
MouseInfo
Pillow
psutil
PyAudio
PyAutoGUI
PyGetWindow
pyjokes
PyMsgBox
pyperclip
PyRect
PyScreeze
pyttsx3
pytube
pytweening
ratelim
requests
six
soupsieve
SpeechRecognition
urllib3
wikipedia
